.App{
  font-family:Poppins, sans-serif;
  scroll-behavior: smooth;
}
.App-header{
  display: flex;
  padding: 20px;
  margin: 0 ;
}
.logo{
  flex: 1;
  font-size: 36px;
  font-weight: 600;
  margin-left: 100px;
}
.logo a{
  color: #2C4B67;
  text-decoration: none;
}
.nav {
  /* color: #385A64; */
  flex: 5;
}
.nav .nav-list a{
  color: #385A64;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.nav .nav-list a:hover{
  border-bottom:4px solid #57548D;

}
.nav-list{
  display: flex;
  list-style-type: none;
}
.nav-list li{
  
  margin-right: 20px;
}
.home{
  display: flex;
  
}
.text-box{
  flex: 1;
  margin-top: 70px;
  color:#112b46;
  
}
.toggle{
  padding:20px 0px 10px 120px;
  color: white;
  cursor: pointer;
  background:#57548D;
}
.text-box > p{
  line-height: 12px;
}
.text-box > h1{
  font-size: 48px;
  line-height: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.text-box >h3{
  background-color: #57548D;
  padding: 10px 0 10px 120px;
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.text-box > p, h1{
  margin-left: 120px;

}

.image-box img{
  right: auto;
  width: 800px;
  object-fit: cover;
  height: 685px;
  border-radius: 50%;
}
.contact{
  width: 400px;
  display: flex;
  justify-content:center;
}
.contact > form{
  display: flex;
  flex-direction: column;
}
.contact > form > input{
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid rgb(191, 200, 202);
  text-indent: 10px;
  margin: 10px 0;
}
.btn{
  padding: 8px;
  width: 90px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(40, 119, 150);
  cursor: pointer;
  margin: 10px 0;
}
.btn:hover{
  background-color: rgb(183, 153, 253);
}
.education{
  background-color:#F2F2F2;
  padding: 10px;
  color: #57548D;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 1.47px 5.99px gainsboro;
  transition: 0.3s ease-in-out;
  transition-delay: 0.01s;
  cursor: pointer;
}
.education:hover{
  transform: translateY(-25px);
  /* transform: scale(1.1); */
  box-shadow: 0px 1.47px 9.99px gainsboro;
}
main > h4{
  text-indent:30px ;
}
.main-education{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.skill-card{
  border-radius: 5px;
  box-shadow: 0px 1.47px 9.99px gainsboro;
  background-color: #57548D;
  width: 300px;
  padding: 10px;
  color: white;
  transition: 0.3s ease-in-out;
  transition-delay: 0.01s;
  cursor: pointer;

}
.skill-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 1.47px 9.99px gainsboro;
}
.skills{
  display: flex;
  padding:20px 0;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
footer{
  display: flex;
  padding: 10px 100px;
  background: gainsboro;
  color: #112b46;
}
.aboutme{
  max-width: 300px;
}
.links{
  margin-left: 10px;
}
.links a{
  display: block;
  text-decoration: none;
  color: #112b46;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
